<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.teamcity.domain.TeamCityProjectInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<body>

<span class="informationBlock tcInformation" th:classappend="${svh.getCssClassForProject(appInfo)}">
    <a th:title="${appInfo.projectId}" th:href="${appInfo.webUrl}" th:target="_blank">
        <span th:text="${appInfo.label}"/>
    </a>

    <span th:if="${appInfo.isRunning()}" class="build-progress">
        <img th:if="${appInfo.isSuccessful()}" th:src="@{/images/running_green_transparent.gif}" src="../../static/images/running_green_transparent.gif" />
        <img th:if="${not appInfo.isSuccessful()}" th:src="@{/images/running_red_transparent.gif}" src="../../static/images/running_red_transparent.gif" />
        <span th:text="${appInfo.percentageComplete} + '%'" title="Minimum an Fortschritt" />
    </span>

    <span th:if="${!appInfo.isSuccessful()}" class="build-statistics" th:title="${'Failed / Passed / Ignored / Total: ' + appInfo.jobsTotal}">
        <span th:if="${appInfo.jobsFailed > 0}" class="tests-failed" th:text="${appInfo.jobsFailed}" />
        <span th:if="${appInfo.jobsPassed > 0}" class="tests-passed" th:text="${appInfo.jobsPassed}" />
    </span>
</span>

<!--
    <th:block th:text="${appInfo.status}" />  SUCCESS
    <th:block th:text="${appInfo.state}" /> finished
-->

</body>
</html>
