<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Changelog Status Seite'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1 class="screenTitle">Changelog</h1>

<p>
    &larr; <a th:href="@{/}">Back</a> to index.
</p>

<ul>
    <li>last update: <span th:if="${changelogRefresh} != null" th:text="${#dates.format(changelogRefresh, 'dd.MM.yyyy HH:mm')}" /></li>
    <li>blacklisted projects: <span th:text="${blacklistedProjects}" /></li>
</ul>

<h3>scanned git repositories:</h3>
<ul >
    <li th:each="changelogConfig : ${changelogConfigs}">
        <span th:text="${changelogConfig.repository}" />
        <th:block th:if="${changelogConfig.parameterName != null}">
            (<span th:text="${changelogConfig.parameterName}" />)
        </th:block>
        <span th:text="${changelogConfig.environments}" />
    </li>
</ul>

</body>
</html>
