<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Changelog Status Seite'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1 class="screenTitle">Legend</h1>

<p>
    &larr; <a th:href="@{/}">back</a> to index.
</p>

<div class="legend">
    <table>
        <tr th:each="entry : ${legend}">
            <td><b>Plugin:</b> <i><span th:text="${entry.key}"></span></i></td>
            <td>
                <ul>
                    <li th:each="wrapper : ${entry.value}">
                        <span th:text="${wrapper.description}"></span>
                        <th:block th:with="appInfo = ${wrapper.applicationInformation}">
                            <th:block th:include="${'information/' + appInfo.type} :: body" />
                        </th:block>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
