<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.kubernetes.domain.KubernetesBatchJobInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock kubernetesBatchJobInformation" th:classappend="${svh.getKubernetesPodStatusCssClass(appInfo)}"
      th:title="'Pod status: ' + ${appInfo.getStatus()} + '  //  ' + 'Last start: ' + ${appInfo.lastStart()} + '  //  ' + 'Duration: ' + ${appInfo.lastDuration()}"
      th:if="${appInfo.isEnabled()}">
        <span>Job</span>
        <i class="fa fa-lg" th:classappend="${svh.getKubernetesPodStatusIconCssClass(appInfo)}"></i>
        <!--<i class="fa fa-clock-o" title="Last start"/>-->
        <!--<span th:text="${appInfo.lastStart()}"/>-->
        <!--<i class="fa fa-hourglass-start" title="Last duration"/>-->
        <!--<span th:text="${appInfo.lastDuration()}"/>-->
</span>

</body>
</html>
