<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.bitbucket.domain.BitBucketInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock bitBucketInformation">
    <a th:href="${appInfo.bitBucketProjectsUrl + appInfo.project + '/repos/' + appInfo.repository + '/browse'}" target="_blank">
        <i th:title="${#dates.format(appInfo.commitDate,'dd.MM.YYYY HH:mm') + ' - ' + appInfo.getCommitMessage()}"
          class="fa fa-bitbucket"
          aria-hidden="true"></i>
         +<span th:title="${'Tage Commit bis Deployment. Commit vor: ' + appInfo.daysSinceCommit + 'Tg'}" th:text="${appInfo.daysSinceDeployment}" />Tg
    </a>
</span>

</body>
</html>
