<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="screen" type="ch.mobi.mobitor.domain.screen.DefaultScreen"*/-->
<!--/*@thymesVar id="screenConfigKey" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverName" type="java.lang.String"*/-->
<!--/*@thymesVar id="applicationName" type="java.lang.String"*/-->
<!--/*@thymesVar id="environment" type="java.lang.String"*/-->
<!--/*@thymesVar id="restCalls" type="java.util.List<ch.mobi.mobitor.plugin.rest.domain.RestCallInformation>"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->

<head>
    <title th:text="'mobitor - Screen - HTTP Status- ' + ${screen.configKey}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<h1 class="screenTitle">HTTP Status</h1>

<p>
    &larr; <a th:href="@{/screen(key=${screen.configKey})}">Back</a> to index.
</p>

<div class="statusInfoList">
    <div>
        <div class="label">Server:</div>        <div th:class="data" th:text="${serverName}"></div>
    </div>
    <div>
        <div class="label">Application:</div>   <div th:class="data" th:text="${applicationName}"></div>
    </div>
    <div>
        <div class="label">Environment:</div>      <div th:class="data" th:text="${environment}"></div>
    </div>
</div>

<div th:each="restCall : ${restCalls}">
    <h2>HTTP Status Codes:</h2>
    <p>updated: <span th:if="${restCall.refreshDate} != null" th:text="${#dates.format(restCall.refreshDate, 'dd.MM.yyyy HH:mm')}"></span></p>
    <p>tkNameId: <span th:text="${restCall.tkNameId}"></span></p>

    <ul>
        <li th:each="restServiceResponse : ${restCall.restServiceResponses}">
            <a th:href="${restServiceResponse.path}"
               th:text="${restServiceResponse.path}"
               th:classappend="${restServiceResponse.path.endsWith('shakedowntest') ? 'shakedown' : 'ping'}" target="_blank" />
            &rarr; <span th:text="${restServiceResponse.statusCode}" />
            <i th:if="${restServiceResponse.isSuccess()}" class="fa fa-check-square-o restCallOk" aria-hidden="true"></i>
            <i th:if="${not restServiceResponse.isSuccess()}" class="fa fa-exclamation-triangle restCallError" aria-hidden="true"></i>
            <th:block th:if="${#strings.endsWith(restServiceResponse.path,'/ping') and restServiceResponse.durationTooSlow()}">
                <i  class="fa fa-bed restCallSlow" aria-hidden="true"></i>
                <span th:class="restCallSlow" th:text="${'Antwortzeit: ' + restServiceResponse.durationMs + 'ms > ' + restServiceResponse.durationSlowLimit + 'ms'}"></span>
            </th:block>
            <div th:if="${not restServiceResponse.isSuccess()}" class="restCallMessages">
                <pre th:each="msg : ${restServiceResponse.messages}" th:text="${msg}"></pre>
            </div>
        </li>
    </ul>
</div>

</body>
</html>
