<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="appInfo" type="ch.mobi.mobitor.plugin.nexusiq.domain.NexusIqInformation"*/-->
<!--/*@thymesVar id="svh" type="ch.mobi.mobitor.model.ScreenViewHelper"*/-->
<!-- lines above is to workaround: https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<head></head>
<body>

<span class="informationBlock" th:classappend="${svh.getCssClassForNexusIq(appInfo)}">
    <a class="nexusIqInformation" th:title="${svh.getPolicySummary(appInfo)}"
       th:href="${appInfo.reportUrl}" target="_blank">
        <i class="fa fa-balance-scale" aria-hidden="true"></i>
        <span th:text="${appInfo.totalViolations}" th:if="${appInfo.informationUpdated and appInfo.totalViolations > 0}" />
    </a>
</span>

</body>
</html>
